node_modules/
.next/
out/
dist/

.env
.env.local
.env.development.local
.env.production.local
.env.test.local

*.log

tsconfig.tsbuildinfo

backup-*.zip
src/features/catalog/data/store-backup-*.ts

backup-home-blog-*.zip
src/features/catalog/data/productImages-backup-*.ts